.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.submit{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 10px;
}

.header{
    text-align: center;
    margin-top: -1rem;
    font-family:fantasy;
    text-decoration: underline;
}
.input{
    width: fit-content;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}