.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
}
.submit{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 10px;
}
.header{
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}