.wrapper{
    display: flex;
    flex-direction: column;
}
.reduceMargin{
    margin-top: -15px;
    margin-left: 5px
}
.field{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.info, .mainInfo {
    margin:5px;
    height:fit-content;
    
}
.info{
    width: 15vw
}
.mainInfo {
    text-align: center;
}
.image{
width: 400px;
height: 250px;
border-radius: 50px;
margin: auto;
align-self: center;
}
.extraInfoWrapper{
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-right: 90px;
    width:80%;
    height: fit-content;
    align-content: center;
    align-items: center;
}
.extraInfo{
    margin: 20px;
}
.petInfo{
    margin:auto;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.button{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    margin: 10px
}
