.field{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.info {
    margin:5px;
    height:fit-content
}

.button{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 10px
}
.button:active{
    background-color: white;
    color: rgb(160, 3, 160);
}
.userInfo{
    margin: 1rem;
    margin-bottom: 5px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    

}