.wrapper{
    display: flex;
    flex-direction: column;
}
.reduceMargin{
    margin-top: -15px;
    margin-left: 5px
}
.field{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.info, .mainInfo, .name {
    margin:5px;
    height:fit-content;
    
}
.info{
    width: 15vw
}
.mainInfo, .name {
    text-align: center;
    font-style: italic;
}
.name{
    font-size: larger;
}
.trim{
    max-height:200px;
     max-width: 100%;
     overflow: hidden;
}
.image{
width: 100%;
height: 300px;
border-radius: 50px;
margin: auto;
align-self: center;
}
.extraInfoWrapper{
    display: flex;
    flex-direction: row;
    margin:auto;
    margin-top: -20px;
    margin-right: 90px;
    width:80%;
    height: fit-content;
    align-content: center;
    align-items: center;
}
.extraInfo{
    margin: 20px;
}
.petInfo{
    margin:auto;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    box-shadow: 0 0 20px #eee;
    background-color:rgb(255, 251, 251);
    border-radius: 50px;
}

.button, .showMore{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(182, 0, 182);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 10px
}
.button:active, .showMore:active{
    background-color: white;
    color: rgb(201, 2, 201);
}
.buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.showMore{
    text-decoration: none;
    font-size: 12px;
    margin: 10px;
}
