.field{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.info {
    margin:5px;
    height:fit-content
}

.button{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    margin: 10px
}
.userInfo{
    margin: 1rem;
    margin-bottom: 5px;
}