.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.submit{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 10px;
}

.header{
    text-align: center;
    font-family: sans-serif;
    margin-top: -1rem;
}
.input{
    width: fit-content;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}
.image{
    width: 400px;
    height: 250px;
    border-radius: 50px;
    margin: auto;
    align-self: center;
}