.form{
   margin: auto;
   display: flex;
   flex-direction: column;
   width: fit-content;
}

.submit {
   width: fit-content;
   padding: 5px;
   cursor:pointer;
   border-radius: 10px;
   background-color: rgb(160, 3, 160);
   color: white;
   border-style: none;
   font-weight: bold;
   align-self: center;
}
.submit:active{
   background-color: white;
   color: rgb(160, 3, 160);
}
.header{
   font-size: 27px;
   font-style: italic;
   text-align: center;
   font-family: fantasy;
   text-decoration: underline;
}