.petHolder {
    width: 35vw;
    margin: auto;
    align-self: center;
    margin-top: 20px
} 
.searchWrapper{
    margin:auto;
    text-align: center;
}
.advancedSearch{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin:auto;
}
.inputWrapper{
    display: flex;
    flex-direction: row;
}
.halfOfInputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    width:10vw
}
.label{
    font-size: 0.75rem;
    font-family: sans-serif;
    margin: auto;
    margin:10px;
    text-align: center;
}
.input, .inputNumber{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px;
    
}
.inputNumber{
    width:3vw;
    margin:auto;
    margin: 5px;
    margin-left: 20px;
    align-self: center;
}
.submit, .button{
        width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);
    color: white;
    border-style: none;
    font-weight: bold;
    margin: auto;
    cursor:pointer
}
.submit:active, .button:active{
    background-color: white;
    color: rgb(160, 3, 160);
}

.button{
    margin: 1rem;
}
.header{
    text-align: center;
    font-family: fantasy;
    text-decoration: underline;
}
.petsArrayWrapper{
    margin:auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: center;
    align-items: center;
}
.input {
    width: 80px;
    align-self: center;
}


