.usersWrapper{
    width: 90vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    margin: 10px;
    margin-top: -40px;
}