.field{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.info {
    margin:5px;
    height:fit-content
}

.button{
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    margin: 10px
}
.noPets{
    margin-top: 1.5rem;
    font-family: sans-serif;
    font-size: larger;
    font-style: italic;
}