.label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}
.green{
color: green;
}
.yellow{
    color:rgb(210, 210, 0)
}
.red{
    color: red;
}

.button {
    width: fit-content;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(160, 3, 160);;
    color: white;
    border-style: none;
    font-weight: bold;
    margin: 5px;
}
.button:active{
    background-color: white;
    color: rgb(160, 3, 160);
}
.infoWrapper{
    margin: 10px;
    font-size: 1rem;
}
.enquiry{
    width: 75vw;
    height: fit-content;
    text-align: center;
}