body {
    background-color: rgb(178, 178, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
}
.white{
    color: rgb(225, 225, 225);
}
h2{
    margin: auto;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    color: rgb(179, 58, 82);
}
form{
    margin: auto;
    text-align: center;
    border: solid black ;
    width: fit-content;
    padding: 1rem;
    border-radius: 4px;
    background-color: rgb(225, 225, 225);
}
input {
    color: grey;
    padding-left: 0.3rem;
    border-radius: 5px;
}
button {
    margin-top: 0.5rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-weight: bold;
}
label{
    color: rgb(179, 58, 82);
    margin: 1rem;
    font-weight: bold;
}
.wrapper{
    margin: auto;
    margin-top: 1rem;
    text-align: center;
   
}
.link{
    color: rgb(179, 58, 82);
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}